* {
  margin: 0;
}



.App {
  text-align: left;
  background-image: url(https://wallpapercave.com/wp/wp1822745.jpg);
  background-color: black;
  background-size: 100vh;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}


span {
  font-family: URW Chancery L, cursive;
  font-size: 30px;
  width: 100%;
  color:	#FFD700;
}